<!DOCTYPE html>
<html>
<head>
  <title>Blood Cancer Detection</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="navbar">
    <h1>Blood Cancer Detection</h1>
  </div>

  <div class="row">
    <div class="column left">
      <p>This project uses blood images to predict leukemia. Leukemia is a type of cancer that affects the blood cells. It is important to detect leukemia early so that treatment can be started as soon as possible.</p>
    </div>

    <div class="column right">
      <input type="file" id="image-upload">

      <div id="prediction"></div>
    </div>
  </div>
</body>
</html>